In [37]:
# Dictionaries - dictionary - word - meaning - similar is case here but in different manner

In [38]:
d = {} # dictionary, but is empty, dictionary is key value pairs

In [39]:
# key should always be unique, if key is not unique it updates key

In [40]:
d1 = {'key':'value'}

In [41]:
d1

{'key': 'value'}

In [42]:
d2 = {'name':"faisal","email":"fb@gmail.com",'number':34323} # key value pairs

In [43]:
d2

{'name': 'faisal', 'email': 'fb@gmail.com', 'number': 34323}

In [44]:
d3 = {234:"xyz"}

In [45]:
# d3 = {234:"xyz",@wgr:"xksld"} # error , numbers can be used as keys but special case can not be use

In [46]:
d3 = {True:2343} # True/False is allowed as key

In [47]:
d3 = {234:"faisal",'_wer':"xyzx",True:32423}

In [48]:
d3[234] # key is used to access value

'faisal'

In [49]:
d3[True]

32423

In [50]:
d3[1] # it also works, true is also 1 so answer will be same as true

32423

In [51]:
d4 = {'name':"faisal","mail_id":"fb@gmail.com",'name':"something"}

In [52]:
d4 # value ofo name is replaced because it is rewrite

{'name': 'something', 'mail_id': 'fb@gmail.com'}

In [53]:
d5 = {"company":"xyz","courses":['web-dev','python','data science','java with dsa']}

In [54]:
d5

{'company': 'xyz',
 'courses': ['web-dev', 'python', 'data science', 'java with dsa']}

In [55]:
d5['courses']

['web-dev', 'python', 'data science', 'java with dsa']

In [56]:
d5['courses'][1]
d5['courses'][2]

'data science'

In [57]:
d6 = {"number":[1,2,343,4,43],"assignment":(1,2,3,4,5,6)}

In [58]:
d6 = {"number":[1,2,343,4,43],"assignment":(1,2,3,4,5,6),"launch_date":{28,12,14}}

In [59]:
d6 = {
    "number":[1,2,343,4,43],"assignment":(1,2,3,4,5,6),"launch_date":{28,12,14},
   "class_time":{
        "web-dev":"8:00pm",
        "ds masters":"8:00pm",
        "java with dsa":"7:00pm"
    },
} # dictionry can store dictionaries

In [60]:
d6

{'number': [1, 2, 343, 4, 43],
 'assignment': (1, 2, 3, 4, 5, 6),
 'launch_date': {12, 14, 28},
 'class_time': {'web-dev': '8:00pm',
  'ds masters': '8:00pm',
  'java with dsa': '7:00pm'}}

In [61]:
d6['class_time']['java with dsa']

'7:00pm'

In [62]:
d6['mentor'] = ['sudh','krish','anurag','haider'] # this will add this element to dictionary

In [63]:
d6

{'number': [1, 2, 343, 4, 43],
 'assignment': (1, 2, 3, 4, 5, 6),
 'launch_date': {12, 14, 28},
 'class_time': {'web-dev': '8:00pm',
  'ds masters': '8:00pm',
  'java with dsa': '7:00pm'},
 'mentor': ['sudh', 'krish', 'anurag', 'haider']}

In [64]:
del d6['number']

In [65]:
d6

{'assignment': (1, 2, 3, 4, 5, 6),
 'launch_date': {12, 14, 28},
 'class_time': {'web-dev': '8:00pm',
  'ds masters': '8:00pm',
  'java with dsa': '7:00pm'},
 'mentor': ['sudh', 'krish', 'anurag', 'haider']}

In [66]:
d6.keys() # extract keys from dictionary
# convert it into proper list
list(d6)

['assignment', 'launch_date', 'class_time', 'mentor']

In [67]:
d6.values() # list of only values

dict_values([(1, 2, 3, 4, 5, 6), {28, 12, 14}, {'web-dev': '8:00pm', 'ds masters': '8:00pm', 'java with dsa': '7:00pm'}, ['sudh', 'krish', 'anurag', 'haider']])

In [68]:
# 
d6.items() # pair of key and a value we can convert it into list
list(d6.items())

[('assignment', (1, 2, 3, 4, 5, 6)),
 ('launch_date', {12, 14, 28}),
 ('class_time',
  {'web-dev': '8:00pm', 'ds masters': '8:00pm', 'java with dsa': '7:00pm'}),
 ('mentor', ['sudh', 'krish', 'anurag', 'haider'])]

In [69]:
d6.pop('assignment')
# d6.pop() will  not work because indexing is not used in case of dictionraries, it will throw you an error

(1, 2, 3, 4, 5, 6)