In [24]:
a = 1

In [25]:
a

1

In [26]:
type(a)

int

In [27]:
b = "Faisal"

In [28]:
b

'Faisal'

In [29]:
type(b)

str

In [30]:
c = 1.3243

In [31]:
c

1.3243

In [32]:
print(c)

1.3243

In [33]:
type(c)

float

In [34]:
d = True

In [35]:
d

True

In [36]:
d = False

In [37]:
d

False

In [38]:
True - True

0

In [39]:
True + True

2

In [40]:
False + True

1

In [41]:
True * False

0

In [42]:
False * True

0

In [43]:
True / False

ZeroDivisionError: division by zero

In [44]:
# data type strings
s = "faisal"

In [45]:
s1 = "bhai"

In [46]:
type(s)

str

In [47]:
type(s1)

str

In [48]:
# mutability and immutability

In [49]:
# python has data type called collection called as list

In [50]:
l = [1,2,3,4,5,6,"faisal",3+7j,True,34.13]
type(l)

list

In [51]:
# list - is  a collection of data

In [52]:
# what is mutability and immutability?

In [53]:
# strings are stored differently in python, string is a collection of characters
# strings are stored in form of indexe's

In [54]:
# index always starts from 0

In [55]:
# python also has backward indexing

In [56]:
# with help of indexing we can select particular data from strings

In [57]:
# see 
s[0] # bring data from 0 th index

'f'

In [58]:
s[2]

'i'

In [59]:
# list will also have indexes in forward and backward direction

In [60]:
l[0]

1

In [61]:
l[5]

6

In [62]:
l[-1]

34.13

In [63]:
l[4] = 'something new'

In [64]:
l

[1, 2, 3, 4, 'something new', 6, 'faisal', (3+7j), True, 34.13]

In [65]:
s[1]

'a'

In [66]:
s[1] = 'x' # string are immutable

TypeError: 'str' object does not support item assignment

In [ ]:
# lists are mutable and strings are immutable

In [67]:
# OPERATORS 
# arithmetic
1 + 1
2 - 1

1

In [68]:
2 * 2
2 /2
2 **3
5//4 # floor division
1 % 4 # modulus

1

In [69]:
# Comparison Opeartors

3>3
3==3
3<=4
3>=4
3!=3

False

In [70]:
# Logical Operators
True and True # and (logical operator) # see true and true table - binary
True and False
False and True
False and False

False

In [71]:
True or True # see or table 
True or False
False or True
False or False

False

In [72]:
# we can also write 1 and 0's instead of true/false

1 and 0
# similarly 
not True # negation not is

False

In [73]:
# Bitwise Operators
10 & 4  # 0 , why this gives 0 , this is bitwise , it will convert it into binary then operation will be performed
bin(10) # 1010
bin(4) # 0100 
# 10&4
# 1 & 0 - 0
# 0 & 1 - 0
# 1 & 0 - 0
# 0 & 0 - 0
# 10 & 4 - 0
# so answer will be 0
# similarly we can perform bitwise or
23 & 20

# or = | 

11 | 6
bin(11) # 1011
bin(6) # 0110
# 1 | 0 - 1
# 0 | 1 - 1
# 1 | 1 - 1
# 1 | 1 - 1
# 10 | 6 - 15

'0b110'

In [74]:

# bitwise not , ~
~12 # -21
bin(12) # 1100 - 0011, add 1 to 1100 and put - sign at prefix
# -(1100 + 1) = -13

'0b1100'

In [75]:
# Right shift
a = 8
bin(a)
a >> 2 # 2 

#1000 # shift last digits

#Left Shift
20<<2 # 80 # put 2 zero's at the end 
bin(20) # 10100 
# 10100 - 1010000 # 80

'0b10100'

In [76]:
# Assignment operators, =, +=,-= ... 
a = 10
a+=1 # a= a + 1

In [77]:
# CONDITIONS