In [1]:
# map reduce and filter functions in python
# map -helps in mapping
# reduce helps in reducing
# filter helps in filtering

# lets create a list are try one by one

l = [2,3,4,5,6]
# suppose we have to perform square to all list elements
# we will create a function but python has something for this 

def test(l):
    l1 =[]
    for i in l:
        l1.append(i**2)
    return l1

In [3]:
test(l)

[4, 9, 16, 25, 36]

In [6]:
def sq(x):
    return x**2

map(sq,l)

In [7]:
list(map(sq,l))

[4, 9, 16, 25, 36]

In [8]:
# we can  also use lambda function
list(map(lambda x: x**2,l))

[4, 9, 16, 25, 36]

In [10]:
l1=[1,2,3,4,5]
l2=[6,7,8,9,10]
list(map(lambda x,y : x + y,l1,l2))

[7, 9, 11, 13, 15]

In [11]:
s = "faisal"

In [15]:
list(map(lambda s : s.upper(), s))

['F', 'A', 'I', 'S', 'A', 'L']

In [16]:
# functools has function in it called reduce lets import it first

In [17]:
from functools import reduce

In [20]:
l = [1,2,3,3,4,5]

In [22]:
reduce(lambda x,y : x+y,l) # does not take third parameter, x,y,z can not be passed as parameter...

18

In [23]:
reduce(lambda x,y:x*y, l)

360

In [24]:
# find max in list
reduce(lambda x,y:x if x>y else y,l)

5

In [25]:
# now lets use filter,

In [28]:
list(filter(lambda x:x%2==0,l))

[2, 4]

In [29]:
list(filter(lambda x:x%2!=0,l))

[1, 3, 3, 5]

In [30]:
l1 = [-3,4,5,6,-1,-5]

In [31]:
list(filter(lambda x: x < 0,l1))

[-3, -1, -5]

In [32]:
l2 = ["faisal",'pwskills','kumar','banglore','krish']

In [34]:
# length of string is 6 then select that
list(filter(lambda x:len(x) < 6,l2))

['kumar', 'krish']