In [1]:
pip install numpy pandas

Collecting numpy
  Using cached numpy-1.26.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (61 kB)
Collecting pandas
  Using cached pandas-2.1.4-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (18 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/gitpod/.pyenv/versions/3.12.1/lib/python3.12/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2023.3.post1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.4-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /home/gitpod/.pyenv/versions/3.12.1/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading numpy-1.26.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (18.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 18.0/18.0 MB 84.4 MB/s eta 0:00:00ta 0:00:01
Downloading pandas-2.1.4-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.7/11.7 MB 75.5 MB/s eta 0:00:0000:010:01m
Downloading pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 502.5/502.5 kB 103.7 MB/s eta 0:00:00
Downloading tzdata-2023.4-py2.py3-none-any.whl (346 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 346.6/346.6 kB 93.7 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.3 pandas-2.1.4 pytz-2023.3.post1 tzdata-2023.4

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np
import pandas as pd

In [3]:
# Set the random seed for reproducibility
np.random.seed(123)

# create a dataframe with two clases
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [4]:
n_class_0,n_class_1

(900, 100)

In [7]:
class_0 = pd.DataFrame({
    'feature1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature2':np.random.normal(loc=0,scale=1,size=n_class_0),
    'target':[0]*n_class_0
})
class_1 = pd.DataFrame({
    'feature1':np.random.normal(loc=2,scale=1,size=n_class_1),
    'feature2':np.random.normal(loc=2,scale=1,size=n_class_1),
    'target':[1]*n_class_1
})

In [10]:
df= pd.concat([class_0,class_1]).reset_index(drop=True)

In [11]:
df.head()

   feature1  feature2  target
0 -0.300232  0.667532       0
1 -0.632261  0.100458       0
2 -0.204317 -0.012610       0
3  0.213696  0.219907       0
4  1.033878  0.813623       0

In [12]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [13]:
# Upsampling

In [17]:
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [18]:
df_minority.head()

     feature1  feature2  target
900  1.632581  3.300921       1
901  2.575273  1.069348       1
902  2.439351  1.148687       1
903  1.271848  2.136584       1
904  1.111470  1.575746       1

In [19]:
df_majority.head()

   feature1  feature2  target
0 -0.300232  0.667532       0
1 -0.632261  0.100458       0
2 -0.204317 -0.012610       0
3  0.213696  0.219907       0
4  1.033878  0.813623       0

In [20]:
## performing upsampling

In [22]:
pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.3.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (11 kB)
Requirement already satisfied: numpy<2.0,>=1.17.3 in /home/gitpod/.pyenv/versions/3.12.1/lib/python3.12/site-packages (from scikit-learn) (1.26.3)
Collecting scipy>=1.5.0 (from scikit-learn)
  Downloading scipy-1.11.4-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (60 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 60.4/60.4 kB 1.4 MB/s eta 0:00:00a 0:00:01
Collecting joblib>=1.1.1 (from scikit-learn)
  Downloading joblib-1.3.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=2.0.0 (from scikit-learn)
  Downloading threadpoolctl-3.2.0-py3-none-any.whl.metadata (10.0 kB)
Downloading scikit_learn-1.3.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (10.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.8/10.8 MB 64.2 MB/s eta 0:00:00 0:00:01
Downloading joblib-1.3.2-py3-none-any.whl (302 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 302.2/302.2 kB 80.8 MB/s eta 0:00:00
Downloading scipy-1.11.4-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (35.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 35.8/35.8 MB 45.3 MB/s eta 0:00:0000:01:00:01
Downloading threadpoolctl-3.2.0-py3-none-any.whl (15 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.3.2 scikit-learn-1.3.2 scipy-1.11.4 threadpoolctl-3.2.0

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [23]:
from sklearn.utils import resample

In [25]:
df_minorty_upsample = resample(
    df_minority,
    replace=True,# sample with replacement
    n_samples=len(df_majority),# to match the majority class
    random_state=42
)
# minorty has to be upsampled

In [27]:
df_minorty_upsample.shape

(900, 3)

In [28]:
df_minorty_upsample.value_counts()

feature1  feature2  target
1.862829  1.941574  1         19
1.748868  2.207169  1         18
3.746120  1.678067  1         18
3.497749  1.641635  1         16
0.787082  3.896404  1         16
                              ..
2.263574  1.220481  1          4
1.957194  1.260221  1          4
0.586872  3.022122  1          4
5.050755  2.467175  1          4
1.440263  2.724457  1          3
Name: count, Length: 100, dtype: int64

In [30]:
df_minorty_upsample['target'].value_counts()

target
1    900
Name: count, dtype: int64

In [33]:
df_upsampled = pd.concat([df_majority,df_minorty_upsample])

In [34]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

In [35]:
df_upsampled.head()

   feature1  feature2  target
0 -0.300232  0.667532       0
1 -0.632261  0.100458       0
2 -0.204317 -0.012610       0
3  0.213696  0.219907       0
4  1.033878  0.813623       0

In [36]:
df_upsampled.shape

(1800, 3)

In [38]:
## downsampling
class_0 = pd.DataFrame({
    'feature1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature2':np.random.normal(loc=0,scale=1,size=n_class_0),
    'target':[0]*n_class_0
})
class_1 = pd.DataFrame({
    'feature1':np.random.normal(loc=2,scale=1,size=n_class_1),
    'feature2':np.random.normal(loc=2,scale=1,size=n_class_1),
    'target':[1]*n_class_1
})

In [39]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [40]:
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [41]:
df_majority_downsample = resample(df_majority,
replace=False,
n_samples=len(df_minority),
random_state=42
)

In [42]:
df_majority_downsample.shape

(100, 3)

In [44]:
pd.concat([df_minority,df_majority_downsample])

     feature1  feature2  target
900  1.349116  0.821543       1
901  4.079573  1.198984       1
902  3.445297  1.269421       1
903  1.331946  2.984417       1
904  1.418799  0.944062       1
..        ...       ...     ...
398  1.546226 -1.918482       0
76   0.463277 -0.038885       0
196 -1.818045 -0.533514       0
631  0.019728  1.804274       0
751  0.316659  0.998884       0

[200 rows x 3 columns]

In [45]:
pd.concat([df_minority,df_majority_downsample]).value_counts()

feature1   feature2   target
-2.639568   0.301225  0         1
 1.748075  -1.111487  0         1
 1.550209   0.176320  0         1
 1.561838  -0.464743  0         1
 1.603353   2.666612  1         1
                               ..
 0.456515   0.993289  0         1
 0.463277  -0.038885  0         1
 0.495279   1.324009  0         1
 0.519153   1.070294  0         1
 4.401261   1.206717  1         1
Name: count, Length: 200, dtype: int64

In [46]:
df_downsample = pd.concat([df_minority,df_majority_downsample])

In [47]:
df_downsample['target'].value_counts()

target
1    100
0    100
Name: count, dtype: int64

In [48]:
# Somte and interpolation are also used to handle 
# imblanced data set